.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-left{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.hero-heading{
    font-size: 40px;
}

.hero-para{
    font-size: 15px;
}

.hero-left-up{
    margin-bottom: 2rem;
}
.hero-buttons{
    display: flex;
    gap: 3rem;
    margin-top: 1.2rem;
    display: flex;

}

.join-now{
    background-color: rgb(87, 87, 232);
    padding: 1rem;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;

}
.post-job{
    background-color: red;
    padding: 1rem;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;

}
.hero-image{
    height:470px ;
    width: 570px;
}
